Click==7.0
Flask==1.0.3
-e git+git@hc.github.com:humancactus/prickly-pear.git@c548e8b7520451a99b0742fbcbbbb15623f80c33#egg=flaskr
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.4
