


<h1>Lists</h1>
<h2>Interesting companies</h2>
<ul>
<li>Notion</li>
<li>Stripe</li>
<li>DynamicLand</li>
<li>Houston Astros</li>
<li>EOG</li>
<li>Slack</li>
<li>Bridgewater (would never want to work there)</li>
<li>Amazon</li>
<li>Apple</li>
<li>Wikileaks</li>
<li>Minerva</li>
<li>Lambda School</li>
<li>YC</li>
<li>SecondSpectrum</li>
<li>Wikipedia</li>
<li>Theranos</li>
<li>Johnson OConnor</li>

</ul>

<h2>Interesting People</h2>
<ul>
<li>Tufte</li>
<li>Victor</li>
<li>Kay </li>
<li>Licklider</li>
<li>Collisons </li>
<li>Samin Nosrat</li>
<li>Chesterton </li>
<li>Sherlock Holmes</li>
<li>Thief</li>
<li>Papert</li>
<li>Holmes</li>
<li>Bill Waterson</li>
<li>PKD</li>
<li>A bunch of my friends and coworkers</li>

</ul>

<h2>Questions</h2>
<ul>
    <li>Twitter is interesting because of the constraint. What are some other constraints that could make writing more interesting?</li>
    <li>How could I write significantly faster? If I'm given enough time I can write well enough, but good god the time</li>
    <li>What can programming tools teach us about writing tools?</li>
</ul>
<h2>Things I would do with unlimited time/money</h2>
<ul>
    <li>Full stack restaurant. This is something I keep thinking about, in spite of the fact that restaurants don't have a ton of room for optimization. One time I went to Chiptole and just watched the line for an hour. Chiptole served 150 people that hour! Each person behind the counter was probably paid about a burrito for that hour (yes I'm aware this is unusual behavior). The two parts I think are potentially interesting are separating the supply chain from the menu, and then dynamically pricing to optimize inventory distribution of demand. By that I mean 1) designing a restaurant in such a way that shopping for ingredients isn't driven by the menu. The menu evolves flexibly based on what is purchsd, so purchasing decisions can optimize for price and quality of food. The dynamic pricing component would be used to clear out old inventory (half off fish!) and incentivize people to eat lunch at 2pm instead of noon.</li>
    <li>How could I write significantly faster? If I'm given enough time I can write well enough, but good god the time</li>
    <li></li>
</ul>
