
{% extends 'base.html' %}

<!--<div>-->
    <!--<ul>-->
        <!--<li><a href="{{ url_for('blog.index') }}">About</a></li>-->
        <!--<li><a href="{{ url_for('blog.index') }}">Blog</a></li>-->
    <!--</ul>-->
<!--</div>-->
{% block content %}
<div>
    <p>Maybe I'm missing the point, but when they say that the act of writing is its own reward, does the reward have anything to do with dopamine? Because I'm in it for the dopamine. Dopamine hits from retweets and comments on this blog.</p> 
    <p>Skeptics will say that there are "healthier" ways to get dopamine (food, love), or more straightforward ways (L-DOPA), but if you crunch the numbers, blogging and tweeting is actually quite cost competitive. Like everything else, it boils down to AWS costs. Back of the envelope:</p>
    <p>A 60-capsule bottle of L-DOPA sells for $17.50. It takes roughly 3 tablets to achieve the type of dopamine release associated with 10+ retweets, so there are roughly 20 "sucessful posts" in every bottle that costs $17.50.</p>
    <p>On the other hand, AWS amounts to a measly $7.96 per month. (542.084 hours On Demand Linux t2.micro at $0.0116 per Instance Hour + 7.691 GB-Mo of snapshot data stored at $0.05 per GB-Month + 12.945 GB-Mo of General Purpose SSD (gp2) provisioned storage at $0.10 per GB-month.) And Twitter is free, if you don't factor in the cost of slowly melting your brain (easy to write off). So blogging/tweeting is cost competitive as long as you're producing 9 "successful posts" per month. And it just becomes cheaper as you go higher.</p>
    <a href="https://twitter.com/HumanCactus?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @HumanCactus</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div>human@cactushumano.com</div>
</div>
{% endblock %}
