
{% extends 'base.html' %}

<!--<div>-->
    <!--<ul>-->
        <!--<li><a href="{{ url_for('blog.index') }}">About</a></li>-->
        <!--<li><a href="{{ url_for('blog.index') }}">Blog</a></li>-->
    <!--</ul>-->
<!--</div>-->
{% block content %}
<div>
    <p>Pretty fly for a cactus guy</p>
    <p></p>
    <p>I live in Austin. Feel free to DM or shoot me an email.</p>
    <a href="https://twitter.com/HumanCactus?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @HumanCactus</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div>human@cactushumano.com</div>
</div>
{% endblock %}
