
{% extends 'base.html' %}


<!--<div>-->
    <!--<ul>-->
        <!--<li><a href="{{ url_for('blog.index') }}">About</a></li>-->
        <!--<li><a href="{{ url_for('blog.index') }}">Blog</a></li>-->
    <!--</ul>-->
<!--</div>-->
<!--<div>-->
    <!--<p>They say the act of writing is its own reward. Not sure who they are, because I am very specifically looking for one thing--pure dopamine hits from retweets and comments on this blog.</p> -->
    <!--<p>It's possible that there are more efficient ways to get pure dopamine, but blogging/tweeting is actually very cost-competitive with L-DOPA or herion.</p>-->
    <!--<p>L-DOPA: 60-capsule bottle of L-DOPA sells for $17.50. It takes roughly 3 tablets to achieve the type of dopamine release associated with 10+ retweets.</p>-->
    <!--<p>AWS: -->
    <!--<table>-->
        <!--Amazon Elastic Compute Cloud running Linux/UNIX-->
        <!--<p>(542.084 hours On Demand Linux t2.micro at $0.0116 per Instance Hour)</p>-->
        <!--<p>+</p>-->
        <!--<p>(7.691 GB-Mo of snapshot data stored at $0.05 per GB-Month)</p>-->
        <!--<p>+</p>-->
        <!--<p>(12.945 GB-Mo of General Purpose SSD (gp2) provisioned storage at $0.10 per GB-month)</p>-->
        <!--<p>=</p>-->
        <!--<p>$7.96</p>-->
        <!--<p>AWS has a slight edge</p>-->
        <!--<p>Human Cactus</p>-->
        <!--<p></p>-->
        <!--<p>Austin TX</p>-->
        <!--<p></p>-->
        <!--<p>Feel free to hit me up</p>-->
        <!--<p>human@cactushumano.com</p>-->
<!--</div>-->
